{
    "BUILD_ENV":"development",
    "SQUARE_APP_ID":"",
    "SQUARE_SANDBOX_APP_ID":"",
    "SQUARE_LOCATION_ID":"",
    "APPLE_MERCHANT_ID":"",
    "CHARGE_SERVER_HOST":"",
    "SANDBOX_CHARGE_SERVER_HOST":"",
    "ONESIGNAL_APP_ID":""
}
